:root {
  --pri: #f8f4e1;
  --sec: #371a08;
  --tri1: #f1b126;
  --tri2: #6d4b18;
  --red: red;
}

@font-face {
  font-family: aeonik;
  src: url(./fonts/fonnts.com-Aeonik-Regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: aeonik;
  src: url(./fonts/fonnts.com-Aeonik-Bold.ttf);
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: aeonik;
  font-weight: 500;
  color: var(--pri);
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#main {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
  padding: 20px 0px;
  overflow: hidden;
}

section.allElems {
  height: 100%;
  width: 100%;
  padding: 120px 40px 40px 40px;
  position: absolute;
  overflow: auto;
}

.allElems header {
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1484542603127-984f4f7d14cb?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTIxfHxza3l8ZW58MHwwfDB8fHww);
  background-color: var(--tri2);
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 60px;
}

header .header1 h1 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
  mix-blend-mode: difference;
}
header .header1 h4 {
  font-size: 40px;
  font-weight: 500;
}
header .header1 h2 {
  font-size: 40px;
  font-weight: 700;
}
header .header2 h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}
header .header2 h4 {
  font-size: 25px;
  font-weight: 500;
}
header .header2 h2 {
  font-size: 30px;
  font-weight: 500;
}

.allElems .allFeatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 30px;
}
.elem {
  border-radius: 10px;
  height: 300px;
  width: 260px;
  font-size: 30px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 20px rgb(9, 9, 9);
  box-shadow: 0px 0px 20px rgb(9, 9, 9);
}

.elem img {
  height: 100%;
  width: 100%;
}

.elem h2 {
  position: absolute;
  bottom: 4%;
  right: 5%;
  font-weight: 500;
  font-size: 25px;
  mix-blend-mode: difference;
  white-space: nowrap;
}

.elem:active {
  scale: 0.97;
}

.fullElem {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
  padding: 20px;
  display: none;
  position: absolute;
  z-index: 12;
}

.back {
  position: absolute;
  right: 2%;
  background-color: var(--red);
  border-radius: 10px;
  padding: 12px 20px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.back:active {
  scale: 0.97;
}

.todo-list-fullpage h2 {
  font-size: 60px;
}

.todo-list-fullpage .todo-container {
  height: 70%;
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.is-done {
  opacity: 0.6;
  text-decoration: line-through;
  text-decoration-color: rgba(220, 5, 5, 0.907);
  text-decoration-thickness: 2px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  background-color: #ccc;
}

.btns {
  opacity: 1 !important;
}

.todo-list-fullpage .todo-container .addTask {
  width: 33%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 20px;
}

.todo-list-fullpage .todo-container .addTask form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 30px;
}

.todo-container .addTask form input#task-input {
  padding: 15px 25px;
  width: 100%;
  font-size: 25px;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-weight: 500;
}

.todo-container .addTask form textarea {
  padding: 15px 25px;
  width: 100%;
  font-size: 25px;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  font-weight: 500;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.todo-container .addTask form button {
  padding: 15px 25px;
  width: 100%;
  font-size: 25px;
  font-weight: 700;
  background-color: var(--tri1);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.todo-container .addTask form button:active {
  scale: 0.97;
}

.todo-list-fullpage .todo-container .allTask {
  width: 65%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 30px;
  overflow-y: auto;
}
.todo-list-fullpage .todo-container .allTask::-webkit-scrollbar {
  display: none;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  background-color: var(--pri);
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.task h5 {
  color: var(--sec);
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 5px;
}

.task h5 span {
  color: var(--pri);
  background-color: var(--red);
  padding: 4px 8px;
  font-size: 11px;
  border-radius: 10px;
}

.task h5 span.true {
  opacity: 1;
}
.task h5 span.false {
  opacity: 0;
}

.task .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.task .delete {
  padding: 15px 30px;
  color: var(--pri);
  background-color: crimson;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.task button:active {
  scale: 0.95;
}

.task .mark-complete {
  padding: 15px 30px;
  color: var(--pri);
  background-color: rgb(10, 201, 77);
  font-size: 18px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.mark-imp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 10px;
  margin-bottom: 20px;
  width: 100%;
  gap: 30px;
}

.mark-imp input {
  scale: 2;
}

.mark-imp label {
  font-size: 20px;
}

.task details summary {
  list-style: none;
  cursor: pointer;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
}

.task details summary::-webkit-details-marker {
  display: none;
}

.task details summary i {
  font-size: 24px;
  color: var(--sec);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  display: inline-block;
}

.task details[open] summary i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.task-details-text {
  color: var(--sec);
  font-size: 16px;
  margin-top: 10px;
}

/*Daily Planner*/
.daily-planner-fullpage h2 {
  font-size: 70px;
}

.daily-planner-fullpage .day-planner {
  background-color: var(--tri2);
  height: 85%;
  margin-top: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: auto;
}

.daily-planner-fullpage .day-planner::-webkit-scrollbar {
  display: none;
}

.daily-planner-fullpage .day-planner .day-planner-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 49%;
  margin-bottom: 15px;
}

.day-planner .day-planner-time p {
  position: absolute;
  top: 12%;
  left: 1%;
  font-size: 18px;
  color: var(--tri1);
}

.day-planner .day-planner-time input {
  padding: 20px 40px;
  width: 100%;
  background-color: var(--sec);
  border-radius: 5px;
  border: none;
  font-size: 32px;
  padding-top: 34px;
  outline: none;
}

/*Motivational Quote*/
.motivation-fullPage-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.motivational-fullpage .motivation-container {
  height: 400px;
  width: 80%;
  border-radius: 50px;
  position: relative;
}

.motivational-fullpage .motivation-container::after {
  content: " ";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--tri1);
  border-radius: 50px;
  scale: 1.125;
  z-index: 8;
  -webkit-filter: blur(180px);
  filter: blur(180px);
}

.motivational-fullpage .motivation-container .motivational-wrapper {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: var(--tri1);
  padding: 17px;
  border-radius: 30px;
}

.motivation-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.motivation-1 h2 {
  background-color: var(--tri2);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 25px;
  border-radius: 20px;
  font-size: 40px;
  font-weight: 500;
}

.motivation-2 {
  padding: 10px;
  margin-top: 5px;
}

.motivation-2 h2 {
  margin-top: 10px;
  font-size: 50px;
  font-weight: 700;
  color: var(--sec);
}

.motivation-3 {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.motivation-3 h2 {
  background-color: var(--tri2);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 25px;
  border-radius: 20px;
  font-size: 40px;
  font-weight: 500;
  text-align: right;
}

.motivational-fullpage .motivation-container .motivational-wrapper img {
  position: absolute;
  right: 5%;
  top: 5%;
  opacity: 0.2;
  height: 100px;
}

/*Pomodomo Timer*/
.pomodoro-fullpage {
  position: relative;
}

.pomodoro-fullpage h2 {
  font-size: 55px;
  font-weight: 600;
}
.pomodoro-fullpage .pomo-timer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.pomo-timer h1 {
  font-size: 145px;
  font-weight: 600;
}
.pomo-timer button {
  background-color: var(--tri2);
  padding: 15px 30px;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 5px 5px 0px #000;
  box-shadow: 5px 5px 0px #000;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.pomo-timer button:active {
  scale: 0.95;
  -webkit-box-shadow: 0px 0px 0px #000;
  box-shadow: 0px 0px 0px #000;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  background-color: var(--tri2);
  border-radius: 5px;
  margin: 10px 20px;
  position: absolute;
  width: 97%;
  z-index: 10;
}

nav .theme {
  background-color: var(--tri1);
  padding: 15px;
  border-radius: 5px;
  color: var(--sec);
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

nav .theme:active {
  scale: 0.96;
}
